body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.content{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg,#24006b,#f42f8c);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content > h2{
    font-size: 40px;
    color: #fff;
    font-weight: 100;
}
.content > .content1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content > .content1 > .login,.register{
    display: block;
    padding: 10px 20px;
    /* background-color: #fff; */
    background: rgba(255, 255, 255, 0.1);
    text-decoration: none;
    border-radius: 8px;
    margin: 0 10px;
    color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: 0.2s ease;
}

.content > .content1 > a:hover{
    background: rgba(59, 181, 255, 0.8);
}