.public-header{
    width: 100vw;
    height: 50px;
    background: rgb(94, 86, 79);
    display: flex;
    justify-content: space-between;
}
.public-header > .content{
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
}
.public-header > .content > .content-item{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}
.public-header > .content > .content-item > a{
    text-align: center;
    color: #b0b0b0;
    transition: 0.2s ease;
    font-size: 13px;
    text-decoration: none;
}
.public-header > .content > .content-item:hover > a{
    color: #fff;
    text-decoration: none;
}