<header class="public-header">
    <ul class="content">
        <li class="content-item">
            <a href=""><img src="http://static.nodejs.cn/_static/img/logo.svg" height="30" alt=""></a>
        </li>
        <li class="content-item">
            <a href="">商品管理</a>
        </li>
        <li class="content-item">
            <a href="">文件管理</a>
        </li>
        <li class="content-item">
            <a href="">系统管理</a>
        </li>
    </ul>
    <ul class="content">
        <li class="content-item">
            <a href="">欢迎你,admin</a>
        </li>
        <li class="content-item">
            <a href="http://127.0.0.1:3000">安全退出</a>
        </li>
    </ul>
</header>